@use "variables" as v;

.card {
  padding: 0.9rem;
  border-radius: 0.5rem;
  background-color: v.$secondcolor;
  width: 15rem;

  &__img {
    border-radius: 50%;
    background-color: v.$fourthcolor;
    width: 100%;
  }

  &__info {
    text-align: center;
    padding-bottom: 0.5rem;
    line-height: 2rem;
    text-transform: capitalize;
    b {
      color: v.$firstcolor;
    }
    p {
      color: rgb(219, 212, 212);
    }
  }

  &__skills {
    display: flex;
    justify-content: space-between;
    &-info {
      text-align: center;
    }
  }
}
